{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 add-cat-box">
		    <h3>Delete Item</h3>
		    Are you sure you wish to delete this item?
		    <form method="POST">
		        <input type="submit" value="Yes">
		    </form><br>
		    <form action="/category">
		        <input type="submit" value="Cancel">
		    </form>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
    </div>
</div>
{% endblock %}
