.hd {
	font-weight: bold;
}

.add {
	padding-left: 100px;
	align-items: center;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;

}

.flash li {
	list-style-type: none;
	text-align: center;

}