<footer class="page-footer white center-align">
      <div class="footer-copyright white">
            <div class="container black-text">
            © 2017 Copyright <a href="https://virtuosars.github.io/ArsS/"
            class="blue-text"> Ankush Sankhe</a>
            </div>
          </div>
</footer>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
